<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-lazy-init="true">

    <!--扫描包-->
    <context:component-scan base-package="FirstDemo"/>
    <aop:aspectj-autoproxy expose-proxy="true"/>
    <!--注解驱动-->
    <mvc:annotation-driven/>
    <!--开启哪个数据库连接包下的事务-->
    <!-- <tx:annotation-driven transaction-manager="channelTansactionManager" proxy-target-class="true" />-->

    <!--可以通过import引用一些别的资源配置文件..比如专门数据源的等等-->
    <!--<import resource="spring-mvc.xml"/>-->
    <import resource="spring-dal-mysql.xml"></import>
    <!--<import resource="log/logback.xml"/>-->

</beans>